@import './colors';

.form {
  margin: 0 auto;
  width: 500px;
  box-sizing: border-box;
  padding: 16px;

  &__title {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 16px;
  }
}

.link {
  color: $blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
