.password-input {
    &__toggle-button {
        font-size: 14px;
        position: absolute;
        top: 55%;
        right: 10px;
        cursor: pointer;
        text-decoration: underline;
        text-decoration-style: dashed;
        text-underline-offset: 3px;
        color: gray;
    }

    &__padding {
        padding-right: 50px;
    }
}